<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/campgroundForms.css">

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="campground[title]" id="title" class="form-control" required>

                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type=" text" name="campground[location]" id="location" class="form-control" placeholder="City, Country" required>

                </div>

                <!--    <div class="mb-3">
                    <label for="image" class="form-label">Image Url:</label>
                    <input type=" text" name="campground[image]" id="image" class="form-control" required>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" id="price" name="campground[price]" required>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea type=" text" name="campground[description]" id="description" class="form-control"
                        required></textarea>

                    <div class="mb-3 mt-3">
                        <label for="image" class="form-label">Add images:</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add campground</button>
                </div>

            </form>

        </div>
    </div>

