<% layout('layouts/boilerplate') %>

    <div class="container  justify-content-center alighn-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow mb-3">
                    <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                        alt="" class="card-img-top">
                    <div class="card-body">

                        <form action="/login" method="POST" novalidate class="validated-form ">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" name="username" id="username" class="form-control" required
                                    autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>

                            <div class="mb-3 d-grid">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                        <h5 class="text-center"><a style="text-decoration: none;" href="/forgot">Forgot your password?</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>