<% layout('layouts/boilerplate') %>

    <div class="container  justify-content-center alighn-items-center">
        <div class="row">
            <div class="col-md-8 offset-md-4 col-xl-6 offset-xl-3">
                <div class="card shadow mb-3">
                    <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                        alt="" class="card-img-top">
                    <div class="card-body">
                        <form action="/register" method="POST" novalidate class="validated-form"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="firstName" class="form-label">First name:</label>
                                    <input type="text" name="firstName" id="firstName" class="form-control" required>
                                </div>
                                <div class="mb-3 col">
                                    <label for="lastName" class="form-label">Last name:</label>
                                    <input type="text" name="lastName" id="lastName" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="username" class="form-label">Username:</label>
                                    <input type="text" name="username" id="username" class="form-control" required>
                                </div>
                                <div class="mb-3 col-8">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" name="email" id="email" class="form-control" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="avatar" class="form-label">Avatar:</label>
                                <input type="file" class="form-control" id="avatar" name="avatar"
                                    aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>

                            <div class="mb-3 d-grid">
                                <button class="btn btn-success">Sign up</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>